{%extends "base/base.html"%}

{%block contenido%}
<div>
	<input type="button" value="Regresar"> 
<select name="tipo" value="tipo insumo">
	<option value="1">carnes</option>
	<option value="2">quesos</option>
	<option value="3">Bebida</option>
</select>
<select name="tipo">
	<option value="1">problema 1</option>
	<option value="2">problema 2</option>
	<option value="3">problema 3</option>
</select>
<input type="button" value="ver inventario">
</div>
<div>
	<div>
		<label>Reportada por:</label>
		<label>empleado que se halla logueado</label>
	</div>
	<div>
		<label>fecha</label>
		<label>dd/mm/aa</label>
	</div>
	<label>detalles</label>
	<label>detalles de la incidencia</label>
</div>
<input type="button" value="Regresar"> 
{%endblock contenido%}